#renderCanvasDcl {
    width: 75%;
    height: 80%;
    touch-action: none;
}
.canvas {
    width:65%;
    height: 500px;
    touch-action: none;
}
.btn{
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: aliceblue;
    margin-left: 10px;
}
.inputElement{
    /* height: 38px; */
    border: 1px solid var(--gray);
    border-radius: 6px;
    /* display: flex; */
    width: 30%;
    margin-left: 5px;
    align-items: center;
    padding: 0 12px;
    margin-bottom: 8px;
}
.lable{
    color: #fff;
}
.buton{
    width: 100px;
    color: #4d4d50;
    height: 30px;
    background-color: #fff;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;

}