.page{
    width: 100%;
    height: 100vh;
    background-color: #16141a;
}
.page1{
    width: 100%;
    height: 100vh;
}
.page1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* 遮罩层的颜色和透明度 */
  z-index: 1; 
}
.container{
  height: 100vh;
    /* width: 100vw; */
    background-color: rgba(0,0,0,0.8);

    
}
.supply{
  display: block;
}
.titleBox{
    width: 1200px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #fff;
}
.dataSourceCard{
    width: 1200px;
    margin: auto;
    display: grid;
    padding-top: 20px;
    /* height: 300px; */
    cursor: pointer;
    gap: 1.25rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .boxContent{
    cursor: pointer;
    width: 270px;
    height: 340px;
    background-color: black;
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    position: relative;
  }
  .icon{
    width: 23.53px;
    height: 24.12px;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .btnAccount{
    width: 150px;
    color: #4d4d50;
    height: 30px;
    background-color: #fff;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    border-radius:5px;
  }
  .btnAccount1{
    width: 100px;
    color: #4d4d50;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    border-radius:5px;
  }
  .worldCon{
    position: absolute;
    top: 15px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 500;
    padding: 3px 20px 3px 10px;
    background: rgba(0, 0, 0, 1);
    opacity: 50%;
    border-radius: 8px 0px 8px 0px;
    text-align: center;
    line-height: 30px;
  }
  .boxContent img{
    border-radius: 10px 10px 0px 0px;
  }
  .textCon{
margin-top: 10px;
}
  .idP1{
font-size: 16px;
font-weight: 600;
  }
  .idP2{
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    width: 240px;
    overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
  }
  .idP3{
    margin-top: 5px;
    color: #4d4d50;
  }
.cont{
    margin: 0 auto;
    padding-left: 350px;
    /* width: 1200px; */
    color: #fff;

    background-color: rgba(0, 0, 0, 1)
}
.cont1{
  margin: 0 auto;
  padding-left: 350px;
  padding-top: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1)
}
  .idNum{

  }
  .TbaAdd{
    cursor: pointer;
  }
  .fuzhi{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    background-color: #ebedf0;
    justify-content: center;
    align-items: center;  
    position: relative;
    margin-left: 10px;
    cursor: pointer;
  }
  /* .copiedTypeCon{
    width: 100px;
    background-color: aqua;
    height: 30px;
  } */
  .voxFiled{
    background-color: #16141a;
    padding-top: 20px;
  }
  .copiedTypeCon {
    
    display: inline-block;
    position: absolute;
    bottom: 30px;
    background-color: #fff; /* 背景颜色 */
    color: #000; /* 文本颜色 */
    padding: 10px;
    border-radius: 6px;
    width: 180px; /* 对话框宽度，根据需求调整 */
    margin: 0 auto; /* 水平居中 */
    font-size: 12px;
    text-align: center;
  }
  
  /* 三角形小箭头样式 */
  .copiedTypeCon::before {
    content: '';
    position: absolute;
    top: 35px; /* 位于容器底部 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    border-width: 10px; /* 箭头大小，根据需求调整 */
    border-style: solid;
    transform: translateX(-50%) rotate(180deg); /* 水平居中并旋转180度 */
    border-color: transparent transparent #fff transparent; /* 箭头颜色与背景色一致 */
  }
  /* .copiedTypeCon::before {
    bottom: 20px; 
  } */
  .copiedType{
    /* width: 100px; */
    width: 0;
    height: 0;
    border-top: 13px solid skyblue;
    border-right:13px solid transparent;
    border-left: 13px solid transparent;
    position: absolute;
    margin-top: -35px;
  }
  .fuzhi img{
    width: 20px;
    height: 20px;
   
  }
  .btn_group{
    align-items: center;
    margin-top: 10px;
  }
  .totalNum{
    margin-top: 10px;
    /* font-size: 20px;
    font-family: 700;
    color: #9d9d9e; */
  }
  .nothingInfo{
    width: 100vw;
    text-align: center;
    color: #515151;
    font-size: 26px;
    font-weight: 600;
    line-height: 300px;
  }
  
.popUp{
  width: 450px;
  height: 520px;
  background-color: #fff;
  position: absolute;
  left: 40%;
  top: 30%;
  font-size: 18px;
  padding: 30px;
  border-radius: 10px;
  z-index: 999;
}
.popUp p {
  margin-top: 10px;
}
.p1{
  color: #644cf7;
  font-size: 25px;
  font-weight: 800;
}
.p2{
  color: #d4d4d4;
  font-weight: 600;
}
.spanCo{
  color: #000000;
  font-weight: 600;
}
.conBttn{
  width: 100%;
  background-color: #000000;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.numIn{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #111111;
  width: 100%;
  height: 30px;
  color: #4d4d50;
}
.conRendImg{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}